---
title: Cocktails
layout: default
scripts: recipe-filter.js
---

<h1>Cocktails</h1>

{% assign filter_category = 'beverages' -%}
{% assign filter_tag = 'cocktails' -%}
{% include filters.html -%}

<h2>Aaron's Cocktail Recipes</h2>

<p>Cocktail recipes I use, but not necessarily created, that are a little outside the classics. These work for me, and are catered to my tastes and the tastes of the people I love to drink with.</p>

{% assign filter_tag = 'cocktails' -%}
{% include recipe_links.html -%}

<hr>

<h2>Cocktails Aaron is testing and developing</h2>

{% assign filter_tag = 'experimental-drinks' -%}
{% assign show_hidden = 'True' -%}
{% include recipe_links.html -%}
