---
title: Linda's Recipes
layout: default
scripts: recipe-filter.js
---

<h1>Linda's Recipes</h1>

<p>Aaron's archive of Linda's recipes.</p>

{% include filters.html
    filter_category  = 'all'
    filter_favorites = 'n/a'
    filter_author    = 'linda' -%}

{% include recipe_links.html
    filter_author    = 'linda'
    show_hidden      = 'True' -%}

<hr>

<a class="button search" href="../Recipes/search/">All Recipe Search</a>

<hr>

<h2>Linda's favorite recipes that Aaron makes</h2>

{% include recipe_links.html
    filter_author   = 'aaron'
    filter_favorite = 'linda' -%}
