{% assign current_section = page.path | split: '/' | first -%}
{% if current_section == 'linda' %}
  {% assign current_section = 'Recipes' -%}
{% endif -%}

{%- for section_name in sections -%}
  {%- assign section_dir = section_name | replace: ' ', '%20' | relative_url -%}
<h2><a href="{{ section_dir }}">{{section_name}}</a></h2>
  {% if current_section == section_name %}
    {% if current_section == 'Recipes' %}
<ul>
  <li class="nolist"><a href="{{ section_dir | append: '/search/' }}">🔎︎ Recipe search</a></li>
</ul>
<hr />
    {% endif -%}
<ul>
    {%- assign all_categories = '' | split: ',' -%}
    {%- for page in site.pages -%}
      {%- assign segments = page.dir | remove_first: '/' | split: '/' -%}
      {%- if segments contains section_name and page.category -%}
        {%- assign category = page.category | strip | split: ',' -%}
        {%- assign all_categories = all_categories | concat: category -%}
      {% endif -%}     
    {%- endfor -%}
    {%- assign all_categories_sorted = all_categories | sort | uniq -%}
    {%- for category in all_categories_sorted | sort -%}
  <li><a href="{{ section_dir | append: '/search/#?category=' | append: category }}">{{ category | replace: '-', ' ' | capitalize }}</a></li>
    {%- endfor %}
</ul>
    {% if current_section == 'Recipes' %}
<hr />
<ul>
  <li class="nolist"><a href="{{ 'Recipes/cocktails/' | relative_url }}">🍸 Cocktails</a></li>
  <li class="nolist"><a href="{{ 'linda/' | relative_url }}">❤️ Linda's Recipes</a></li>
  <li class="nolist"><a href="{{ 'Recipes/Sourdough/' | relative_url }}">🍞 Sourdough</a></li>
</ul>
    {% endif -%}
  {% endif -%}
{%- endfor -%}
