{%- assign page_blacklist = 'index.html,index.md,README.md' | split: ',' -%}
{%- assign section_dir = 'Recipes' -%}

{%- if include.list_style == 'list' %}
  {%- assign list_class = 'recipe-list' -%}
{%- else -%}
  {%- assign list_class = 'recipe-cards' -%}
{%- endif -%}

<ul class="{{list_class}}">
{% assign sortedPages = site.pages | sort: 'title' -%}
{%- for page in sortedPages | sort: 'title' -%}
  {%- assign segments = page.dir | remove_first: '/' | split: '/' -%}
  {%- assign section = segments | first -%}

  {%- if section != section_dir %}
    {%- continue -%}
  {%- endif -%}

  {%- if page.index == 'hidden' and include.show_hidden != 'True' -%}
    {%- continue -%}
  {%- endif -%}

  {%- if page_blacklist contains page.name -%}
    {%- continue -%}
  {%- endif -%}

  {%- if include.filter_category -%}
    {%- if page.category contains include.filter_category -%}
    {%- else -%}
      {%- continue -%}
    {%- endif -%}
  {%- endif -%}

  {%- if include.filter_author -%}
    {%- if page.authors contains include.filter_author -%}
    {%- else -%}
      {%- continue -%}
    {%- endif -%}
  {%- endif -%}

  {%- if include.filter_tag -%}
    {%- if page.tags contains include.filter_tag or include.filter_tag == "NONE" and page.tags == nil -%}
    {%- else -%}
      {%- continue -%}
    {%- endif -%}
  {%- endif -%}

  {%- if include.filter_ingredient == nil or page.ingredients contains include.filter_ingredient -%}
  {%- else -%}
    {%- continue -%}
  {%- endif -%}

  {%- if include.filter_favorite == nil or page.favorite contains include.filter_favorite -%}
  {%- else -%}
    {%- continue -%}
  {%- endif -%}

  {%- if page.category -%}
    {%- assign category = page.category -%}
  {%- else -%}
    {%- assign category = 'none' -%}
  {%- endif -%}

  {%- if include.hide_description == nil and page.description != nil and page.description != '' -%}
    {%- assign page_description = ' — ' | append: page.description}} -%}
  {%- else -%}
    {%- assign page_description = '' -%}
  {%- endif -%}

  {%- if page.tags and page.tags.first -%}
    {%- assign tags = page.tags | sort -%}
  {%- else -%}
    {%- assign tags = 'none' -%}
  {%- endif -%}

  {%- if page.authors and page.authors.first -%}
    {%- assign authors = page.authors | push: 'any' | sort -%}
  {%- else -%}
    {%- assign authors = 'none' -%}
  {%- endif -%}

  {%- if page.favorite and page.favorite.first -%}
    {%- assign favorite = page.favorite | push: 'any' | sort -%}
  {%- else -%}
    {%- assign favorite = 'none' -%}
  {%- endif -%}

  {%- if page.ingredients and page.ingredients.first -%}
    {%- assign ingredients = page.ingredients | sort -%}
  {%- else -%}
    {%- assign ingredients = 'none' -%}
  {%- endif -%}

  {%- if include.list_style == 'list' -%}
    {%- assign recipe_style = '' -%}
  {%- elsif page.hero_image -%}
    {%- assign recipe_image_url = '/images/' | append: page.hero_image | relative_url -%}
    {%- assign recipe_style = 'style="background-size: cover; background-image: url(' | append: recipe_image_url | append: ')"' -%}
  {%- elsif page.tags contains 'cocktails' -%}
    {%- assign recipe_image_url = '/images/cocktail_experiment.jpg' | relative_url -%}
    {%- assign recipe_style = 'style="background-size: cover; background-image: url(' | append: recipe_image_url | append: ')"' -%}
  {%- else -%}
    {%- assign recipe_style = '' -%}
  {%- endif -%}
  <li class="recipe-link category-{{ category }} tag-{{ tags | join: ' tag-' }} author-{{ authors | join: ' author-' }} favorite-{{ favorite | join: ' favorite-' }} ingredient-{{ ingredients | join: ' ingredient-' }}" {{ recipe_style }}>
    <a href="{{ page.url | relative_url }}">
    {%- if include.list_style == 'list' -%}
        {{page.title}}
    {%- else -%}
      <span class="text">
        <strong>{{page.title}}</strong>
      {%- if include.hide_description != nil or page.description != nil or page.description != '' -%}
        {{ page.description }}
        {%- else -%}
        <ul class="tags">
          {% for tag in tags %}
          <li>{{tag}}</li>
          {% endfor -%}
        </ul>
        <ul class="key-ingredients">
          {% for ingredient in ingredients %}
          <li>{{ingredient}}</li>
          {% endfor -%}
        </ul>
        {%- endif -%}
      </span>

      {% if page.favorite and page.favorite.first -%}
      <span class="favorite-icons">
        {% assign favorites_sorted = page.favorite | sort %}
        {% for favorite in favorites_sorted -%}
          <span class="{{favorite}}">★</span>
        {% endfor -%}
      </span>
      {% endif -%}
    {%- endif -%}
    </a>

    {%- if include.list_style == 'list' and page.description -%}
      {%- if include.hide_description != nil or page.description != nil or page.description != '' %}
        — {{ page.description }}
      {%- endif -%}
    {%- endif -%}
  </li>
{%- endfor %}
</ul>
