body > footer {
  padding: 20px 0;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  color: #fff;
}

body > footer a {
  color: #fff;
  text-decoration: underline;
}
