---
title: Recipe Search
layout: default
---
<style>
</style>

<h1>Recipe Search</h1>
{%- assign page_blacklist = 'index.html,index.md,README.md' | split: ',' -%}

{%- assign section_dir = 'Recipes' -%}
{%- assign sortedPages = site.pages | sort: 'title' -%}

{%- for page in sortedPages -%}
   {%- assign tags = page.tags | strip | split: ',' -%}
   {%- assign all_tags = all_tags | concat: tags -%}

   {%- assign ingredients = page.ingredients | strip | split: ',' -%}
   {%- assign all_ingredients = all_ingredients | concat: ingredients -%}
{%- endfor -%}

{%- assign all_tags_sorted = all_tags | sort | uniq -%}
{% assign all_ingredients_sorted = all_ingredients | sort | uniq -%}
<form id="filters">
  <div>
    <label for="tag-filter">Tag: </label>
    <select id="tag-filter">
      <option>all</option>
      {%- for tag in all_tags_sorted -%}
      {% assign tag_stripped = tag | strip -%}
      <option value="{{tag_stripped}}">{{tag_stripped}}</option>
      {% endfor -%}
    </select>
  </div>

  <div>
    <label for="ingredient-filter">Ingredient: </label>
    <select id="ingredient-filter">
      <option>all</option>
      {%- for ingredient in all_ingredients_sorted -%}
      {% assign ingredient_stripped = ingredient | strip -%}
      <option value="{{ingredient_stripped}}">{{ingredient_stripped}}</option>
      {% endfor -%}
    </select>
  </div>
</form>

<div class="recipe-cards">
{% for page in sortedPages -%}
  {%- assign segments = page.dir | remove_first: '/' | split: '/' -%}
  {%- assign section = segments | first -%}
  {%- if section == section_dir %}
    {%- if segments contains 'Untested' -%}
    {%- else -%}
      {%- if page_blacklist contains page.name -%}
      {%- else -%}
        {%- if page.tags -%}
          {%- assign tags = page.tags | remove: " " | split: ',' | sort -%}
        {%- else -%}
          {%- assign tags = 'none' -%}
        {%- endif -%}
        {%- if page.ingredients -%}
          {%- assign ingredients = page.ingredients | remove: " " | split: ',' | sort -%}
        {%- else -%}
          {%- assign ingredients = 'none' -%}
        {%- endif -%}
  
        {%- if page.hero_image -%}
          {%- assign recipe_image_url = '/images/' | append: page.hero_image | relative_url -%}
          {%- assign recipe_style = 'style="background-size: cover; background-image: url(' | append: recipe_image_url | append: ')"' -%}
        {%- else -%}
          {%- assign recipe_style = '' -%}
        {%- endif -%}

  <a class="recipe-link tag-{{ tags | join: ' tag-' }} ingredient-{{ ingredients | join: ' ingredient-' }}" href="{{ page.url | relative_url }}" {{ recipe_style }}>
    <div class="text">
      <strong>{{page.title}}</strong>
      <ul class="tags">
        {% for tag in tags %}
        <li>{{tag}}</li>
        {% endfor -%}
      </ul>
      <ul class="key-ingredients">
        {% for ingredient in ingredients %}
        <li>{{ingredient}}</li>
        {% endfor -%}
      </ul>
    </div>
  </a>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</div>

<script>

  document.addEventListener('DOMContentLoaded', (event) => {
    const filter_tag = document.getElementById('tag-filter');
    const filter_ingredient = document.getElementById('ingredient-filter');
    const recipes = document.querySelectorAll('.recipe-link');

    const hideFilteredRecipes = function(classes) {
      recipes.forEach(function(recipe) {
        recipe.dataset.hide = false
        for (classname of classes) {
          if (!recipe.classList.contains(classname)) {
            recipe.dataset.hide = true
            continue
          }
        }
      })
    }

    const filter = function filter() {
      const tag = filter_tag.value == 'all' ? null : 'tag-' + filter_tag.value
      const ingredient = filter_ingredient.value == 'all' ? null : 'ingredient-' + filter_ingredient.value
      var classes = []
      if (tag) {
        classes.push(tag)
      }
      if (ingredient) {
        classes.push(ingredient)
      }
      hideFilteredRecipes(classes)
    }

    filter_tag.addEventListener('change', filter)
    filter_ingredient.addEventListener('change', filter)
  });
</script>