<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% assign sections = 'Recipes,Adult Beverages,Tobacco' | split: ',' %}
            {% for section_name in sections %}
              {% assign section_dir = section_name | replace: ' ', '%20' %}
              <h2><a href="/Notes/{{section_dir}}/">{{section_name}}</a></h2>
              <ul>
              {% for page in site.pages | sort: 'name' %}
                {% assign segments = page.dir | remove_first: '/' | split: '/' %}
                {% assign section = segments | first %}
                {% if segments contains 'Untested' %}
                <!-- Untested: {{page.dir}} -->
                {% elsif section == section_dir %}
                <li><a href="/Notes{{page.url}}">{{page.title}}</a></li>
                {% endif %}
              {% endfor %}
              </ul>
            {% endfor %}
        </aside>

      </div>
    </div>

  </body>
</html>
