<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/hamburger.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/ui.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <link rel="icon" href="https://traas.org/favicon.ico"/>
    <link rel="apple-touch-icon" href="https://traas.org/apple-touch-icon.png" />

    <script type="text/javascript" src="{{ '/assets/js/hamburger.js?v=' | append: site.github.build_revision | relative_url }}"></script>
{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {% if page.hero_image != nil -%}
            {% assign content_pieces = content | split: "</h1>" %}
            {% assign content_pieces_count = content_pieces | size %}
            {% if content_pieces_count > 1 -%}
              {% assign content_snipped = content_pieces | shift | join: "</h1>" %}
            {% else -%}
              {% assign content_snipped = content_pieces | join: "</h1>" %}
            {% endif -%}
            <h1>{{ page.title }}</h1>
            <img src="{{ '/images/' | append: page.hero_image | relative_url }}" />
            {{ content_snipped }}
          {% else -%}
            {{ content }}
          {% endif -%}
        </section>

        <a href="#" id="hamburger"></a>
        <aside id="sidebar">
          <header>
            <a href="#" id="hamburger-close"></a>
          </header>
          <nav>        
{% assign sections = 'Recipes,Adult Beverages,Tobacco' | split: ',' -%}
{% assign hide_description = 'true' -%}
{% include site_index.html -%}
          </nav>
        </aside>

      </div>
    </div>

  </body>
</html>
